name: Fetch latest BROKEN worldwide data

# on:
#   repository_dispatch:
#   schedule:
#     - cron:  '0 16 * * *'

jobs:
  scheduled:
    runs-on: ubuntu-latest
    steps:
    - name: Check out this repo
      uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: 3.8
    - uses: actions/cache@v1
      name: Configure pip caching
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
    - name: Install Python dependencies
      run: |
        pip install -r requirements.txt
    - name: Fetch latest worldwide data
      run: |-
        mkdir -p tmp_worldwide && cd tmp_worldwide
        conditional-get --etags ../etags.json -v https://opendata.ecdc.europa.eu/covid19/casedistribution/json -o index.json
        (test -f index.json && jq . index.json > ../worldwide/worldwide.json) || echo "No update for index.json, skipping."
        echo "done"
    - name: Commit and push worldwide data if it changed
      run: |-
        git config user.name "Automated"
        git config user.email "actions@users.noreply.github.com"
        git add -A
        timestamp=$(date -u)
        git commit -m "Latest worldwide data: ${timestamp}" || exit 0
        git push
